---
weight: 2
---

.spotlight-image
  %a.forkme.orange.rollover(href="https://github.com/seam/migration")
  %a.main(href="#{site.base_url}/migrations/get-started" style="background-image: url(#{site.base_url}/images/migration-splash.png)")

