---
weight: 2
---
%a(href="https://github.com/jbossas/quickstart")
  %img.fork-me(src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub")
%a(href="#{site.base_url}/quickstarts/get-started")
  %img(src="#{site.base_url}/images/quickstarts-splash.png")
