---
weight: 2
---
.spotlight-image
  %a.forkme.green.rollover(href="https://github.com/jbossas/quickstart")
  %a.main(href="#{site.base_url}/quickstarts/get-started" style="background-image: url(#{site.base_url}/images/quickstarts-splash.png)")

