---
weight: 2
---
%a(href="https://github.com/jboss-jdf/ticket-monster")
  %img.fork-me(src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub")
%a(href="#{site.base_url}/examples/get-started")
  %img(src="#{site.base_url}/images/ticket-monster-splash-1.png")
