---
weight: 2
---

.content(style="background: url('images/ticket-monster.jpg');")
  .transparent-box(style='bottom: 0;')
  .transparent-box-text(style='bottom: 0;')
    :markdown

      [Ticket Monster](examples/ticket-monster) shows you how to build a full web app, with a choice of view layers: 
      
      * POH5 - JavaScript talks to REST endpoints
      * Errai - CDI programming in the browser
      * RichFaces - Ajax UI components for JSF
