---
weight: 2
---
.spotlight-image
  %a.forkme.blue.rollover(href="https://github.com/jboss-jdf/ticket-monster")
  %a.main(href="#{site.base_url}/examples/get-started" style="background-image: url(#{site.base_url}/images/ticket-monster-splash-2.png)")

