[submodule "quickstarts/jboss-as-quickstart"]
	path = quickstarts/jboss-as-quickstart
	url = https://github.com/jboss-jdf/jboss-as-quickstart.git 
[submodule "migrations/seam2"]
	path = migrations/seam2
	url = https://github.com/seam/migration.git
[submodule "examples/ticket-monster"]
	path = examples/ticket-monster
	url = https://github.com/jboss-jdf/ticket-monster.git
[submodule "stack/plugin-jdf"]
	path = stack/plugin-jdf
	url = git@github.com:jboss-jdf/plugin-jdf.git
[submodule "stack/stacks-client"]
	path = stack/stacks-client
	url = git@github.com:jboss-jdf/jdf-stacks-client.git
[submodule "stack/jboss-bom"]
	path = stack/jboss-bom
	url = git@github.com:rafabene/jboss-bom.git
[submodule "stack/jboss-as-archetype"]
	path = stack/jboss-as-archetype
	url = https://github.com/rafabene/jboss-as-archetype
