[submodule "examples/ticket-monster/guide"]
	path = examples/ticket-monster/guide
	url = https://github.com/jboss/ticket-monster-tutorial.git
	update = merge
[submodule "quickstarts/jboss-as-quickstart"]
	path = quickstarts/jboss-as-quickstart
	url = https://github.com/jbossas/quickstart.git 
[submodule "migrations/seam2"]
	path = migrations/seam2
	url = git://github.com/seam/migration.git
[submodule "stack/jboss-bom"]
	path = stack/jboss-bom
	url = git@github.com:jboss-jdf/jboss-bom.git
