---
layout: post
post_title: What's new in jdf 1.0.5? 
author: pmuir
tags: [ quickstarts ]
---
:markdown
  Normally we don't make much fuss about micro releases, which typically just fix a couple of bugs. However this release adds a couple of quickstarts:

  * [`inter-app`](#{site.base_url}/quickstarts/jboss-as-quickstart/inter-app), which shows you how to have two deployments communicate with each other, bridging the interactions through EJBs, whilst allowing you to use the CDI programming model
  * [`cluster-ha-singleton`](#{site.base_url}/quickstarts/jboss-as-quickstart/cluster-ha-singleton), which shows you how to create a cluster wide singleton with JBoss AS

  But the highlight is [Jack Wang's migration story](#{site.base_url}/migrations/war-stories/2012/07/18/jack_wang/), in which he shares with us his recipe for migrating apps from Seam 2 to Java EE 6.
