---
layout: post
post_title: 53 quickstarts and counting 
author: pmuir
tags: [ quickstarts ]
---
:markdown
  One of the elements of JBoss Developer Framework that we are most proud of is the quickstarts. A quickstart is a tightly focused sample, that shows off one use case, or one API, and runs on [JBoss Enterprise Application Platform](http://www.redhat.com/products/jbossenterprisemiddleware/application-platform/) or [JBoss AS](http://jboss.org/jbossas).

  Let me give you an idea of the range of topics covered:

%dl
  %dt View layers
  %dd HTML5, Errai, RichFaces, JSF, JSP, Wicket, pure Servlet
  %dt Business logic
  %dd CDI, EJB, Bean Validation
  %dt Persistence
  %dd JPA, Hibernate 3, Hibernate 4, H2, Postgres
  %dt Transactions
  %dd JTA, JTS, XTS, WS-AT, Crash Recovery
  %dt Integration
  %dd JAX-RS, JAX-WS, JMS
  %dt Utilties, Packaging
  %dd Logging, JBoss Modules, Maven

:markdown
  
  For the full list, take a look at [the quickstarts page](#{site.base_url}/quickstarts/get-started).

  All quickstarts work in [JBoss Developer Studio](https://devstudio.jboss.com/download/) (or [JBoss Tools](http://jboss.org/tools) in Eclipse) - just import them using m2e. Some quickstarts come with OpenShift deployment instructions.

  The quickstarts are a joint effort between many members of the JBoss Community, and we do rely on the community to help us understand what is missing, and help us fill the gaps. Check out the [contributing](#{site.base_url}/about/contributing) guide if you can help us!

  ## Roadmap

  We already have new quickstarts in the pipeline, and will be adding a few around clustering and high availability. We also will be adding some Hibernate Search and Hibernate OGM quickstarts.

  [Keep the ideas coming](#{site.base_url}/forums/jdf-users)!
