---
layout: default 
title: 'Quickstarts: Videos'
javascripts: [ /javascripts/vimeo.js, /javascripts/siphon-20120407.js ]
---
%script{:type=>'text/javascript'}
  vimeo('channel/quickstarts')
%div.vimeo#wrapper
  %div#embed
  %div#thumbs
    %ul

%p 
  View more videos from JBoss 
  %a{:href=>'http://www.vimeo.com/jbossdeveloper'}on Vimeo

