---
---
%article.news-post
  %header.news-header
    %h2.news-title
      %a{:href=>page.post.url}= page.post.post_title
    .news-byline
      .date= page.post.date.strftime('<abbr>%b</abbr> %d <div class="year">%Y</div>') if !page.post.date.nil?
  .news-body
    - if (page.post.content.length > 50)
      - cut_at = page.post.content.index(/<pre[^>]*>/)
      - text = html_to_text(cut_at ? page.post.content[0, cut_at] : page.post.content)
      -# might want to use 'white-space: pre-line;' here
      %p<= text[0..text.index(/[\.\!]( |$)/, [text.index(/[\.\!]( |$)/) + 1, text.length - 1].min)] + '...'
  .news-footer
    %a{:href=>page.post.url} Go to News Article
