---
layout: default
title: 'Examples: Get Involved'
---

%p
  Found a bug in an example? Missing a tutorial? Want to see your name in lights and contribute to the examples? Then you are in the right place!

%ul
  %li
    %a{:href => 'http://github.com/jboss-jdf'}
      Fork the examples on GitHub
  %li
    %a{:href => 'http://issues.jboss.org/browse/JDF'}
      Report an issue
  %li
    %a{:href => 'https://github.com/jboss-jdf/ticket-monster/blob/master/CONTRIBUTING.md'}
      Read the contributor's guide
