---
layout: default 
title: Buzz 
---
- page.javascripts = [ "#{site.base_url}/javascripts/jquery-tweet.js" ]
%h2
  Tweets mentioning
  %a(href='http://twitter.com/#!/search/%23jboss-jdf') #jboss-jdf

.tweet
  :javascript
    $(function() {
      $(".tweet").tweet({
        query: "#jboss-jdf",
        avatar_size: 48,
        count: 10,
        template: "{avatar}{user} posted {time}:<br/>{text}",
        loading_text: "Loading tweets...",
        intro_text: 'See more results for <a href="https://twitter.com/#!/search/%23jboss-jdf">#jboss-jdf</a> on twitter.com...'
      });
    });

/%h2 Reactions

/%blockquote
/  %p Arquillian is one of the most interesting projects in the JBoss portfolio. Not only due to its technical merits, which abound, but also because it makes it easy to argue that JBoss "gets it right" when it comes to high quality open source software. It's a real solution to a real challenge: integration testing for Java applications. A new idea for solving an old problem. That has moved from a proof of concept to an entire ecosystem incredibly fast. Because it's community-driven. And easy to learn. So it's cool.
/  %small
/    %span.author Marius Bogoevici
/    %a.source(href='https://community.jboss.org/blogs/weekly-editorial/2012/04/13/this-week-in-jboss-12-april-2012-people-at-work') JBoss Weekly: Apr 12, 2012

