---
layout: default 
title: Buzz 
description: Tweets and reactions about JBoss Developer Framework. JBoss Developer Framework shows you how to write applications using JBoss technologies.
---
%h2
  Tweets mentioning
  %a(href='http://twitter.com/search/realtime?q=jboss%20jdf') jboss jdf

.tweet
  %a(class="twitter-timeline" href="https://twitter.com/search?q=%23jboss+jdf" data-widget-id="349974974901137409")
    Tweets mentioning "jboss jdf"
  :javascript
    !function(d,s,id){
      var js, fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;
        js.src=p+"://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
        }
      }
      (document,"script","twitter-wjs");
  