---
layout: default 
title: About this site
description: About the JBoss Developer Framework site. JBoss Developer Framework shows you how to write applications using JBoss technologies.
---

%div
  This site is copyright 2012-#{DateTime.now.year} Red Hat, Inc.
%div
  %i.icon-tag
  Website version #{site.version}
%div
  %i.icon-fire
  Mixed with <a href="http://twitter.github.com/bootstrap">Bootstrap</a>. Baked by <a href="http://awestruct.org">Awestruct</a>.
%div
  %i.icon-share-alt
  Website and docs licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
%div
  %i.icon-share-alt
  Code released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>.
%div
  :markdown
    This website is open source! If you want to help, [fork the project](http://github.com/jboss-jdf/jdf-site) and hack on it.
%div.bottom
  :markdown
    [Terms of Use](http://www.redhat.com/legal/legal_statement.html) | [Privacy Policy](http://www.redhat.com/legal/privacy_statement.html)

