---
layout: default 
title: About this site
---

%div
  This site is copyright 2009-#{DateTime.now.year} Red Hat, Inc.
%div
  %i.icon-fire
  Mixed with <a href="http://twitter.github.com/bootstrap">Bootstrap</a>. Baked by <a href="http://awestruct.org">Awestruct</a>.
  %br
  %i.icon-share-alt
  Website and docs licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
  %br
  Code released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>.
  :textile
    This website is open source! You can also "see the stats":http://www.seethestats.com/site/jboss.org/jdf. If you want to help, "fork the project":http://github.com/jboss-jdf/jdf-site and hack on it.

    p(bottom). "Terms of Use":http://www.redhat.com/legal/legal_statement.html | "Privacy Policy":http://www.redhat.com/legal/privacy_statement.html

