---
layout: default
title: 'Quickstarts: Get Involved'
---

%p
  Found a bug in a quickstart? Think there is quickstart missing? Want to see your name in lights and contribute a quickstart? Then you are in the right place!

%ul
  %li
    %a{:href => 'http://github.com/jbossas/quickstart'}
      Fork the quickstarts on github
  %li
    %a{:href => 'https://github.com/jbossas/quickstart/issues'}
      Report an issue
  %li
    %a{:href => 'https://docs.jboss.org/author/display/AS71/Contributing+a+Quickstart'}
      Read the contributor's guide
