---
layout: getinvolved 
---
- page.rawguide = 'https://raw.github.com/rafabene/jboss-as-quickstart/JDF-168/CONTRIBUTING.md'
- page.guide = 'https://github.com/rafabene/jboss-as-quickstart/blob/JDF-168/CONTRIBUTING.md'

