---
title: jdf Forums
layout: default
---

:markdown
  If you want to ask a question about JBoss Developer Framework, or any of it's component parts, then post in the *jdf-users* forum.

  If you want to contribute to JBoss Developer Framework, or any of it's component parts, then post in *jdf-dev* forum

<a id="nabblelink" href="http://jdf.26792.n6.nabble.com/">jdf</a>
<script src="http://jdf.26792.n6.nabble.com/embed/f3"></script>
