---
layout: default
title: 'Examples: Get Started'
---

.row.examples
  .span8
    :markdown
      JBoss Developer framework comes with TicketMonster, a moderately complex application that demonstrates how to build modern applications using JBoss web technologies. You can try using it, download it, fork it on GitHub and learn more about it from the accompanying tutorial.

      Apart from being a demo, Ticket Monster provides an already existing application structure that you can grab and use for trying out your use cases, testing your own ideas, or, if you so wish, contribute back to the community with extensions.

      Tutorial
      --------  

    %ol.example-get-started-toc
      - for guide in site.guides['/examples/ticket-monster']
        %li<
          %p
            %a{:href=>"#{site.base_url}#{guide.url}"}= guide.title
          - if guide.summary
            %p.summary= guide.summary

    :markdown

      More Resources
      --------------

      * JBoss World 2012 content
        * [slide deck](http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/guide/Introduction/) and [source](https://github.com/jboss-jdf/jdf-collateral/blob/master/presentations/ticketmonster-jbossworld-2012.html.haml)
        * [demo script](https://raw.github.com/jboss-jdf/jdf-collateral/master/scripts/ticket-monster.asciidoc)
      * JUDCon Boston 2012 content
        * [slide deck](http://www.jboss.org/jdf/presentations/what_is_jdf_judcon-boston-2012/) and [source](https://github.com/jboss-jdf/jdf-collateral/blob/master/presentations/what_is_jdf_judcon-boston-2012.html.haml)

  .span4
    .splash
      .content
        %iframe(src="http://player.vimeo.com/video/43452316" width="320" height="240" frameborder="0")
    .splash
      %a(href="http://ticketmonster-jdf.rhcloud.com" title="Use TicketMonster on OpenShift")
        .content
          %img(src="#{site.base_url}/images/ticket-monster-splash-2.png")
        .title
          %h5 Use TicketMonster on OpenShift
      
