---
layout: default
title: 'Get Started'
---

%p
  JBoss Developer framework comes with TicketMonster, a moderately complex application that demonstrates how to build modern applications using JBoss web technologies. You can try using it, download it, fork it on GitHub and learn more about it from the accompanying tutorial.

%p
  Apart from being a demo, Ticket Monster provides an already existing application structure that you can grab and use for trying out your use cases, testing your own ideas, or, if you so wish, contribute back to the community with extensions.


%ul
  %li
    %a{:href => '../ticket-monster/tutorial/WhatIsTicketMonster'}
      Dive straight in
  %li
    %a{:href => 'http://ticketmonster-jdf.rhcloud.com'}
      Use the app on OpenShift
  %li
    %a{:href => '../ticket-monster/tutorial/Introduction'}
      Take your first steps to build the app
  %li
    %a{:href => 'videos'}
      Watch and learn
  %li
    %a{:href => 'articles'}
      Read how the community is using TicketMonster
