@import "partials/base";
@import "partials/vimeo";
@import "partials/addons";
@import "partials/pygments";
@import "partials/asciidoc";
@import "partials/markdown";

/** Main landing page **/
#frontpage-header-wrapper {
  @include background-image(linear-gradient(#afb1b3, #e6e7e8 45%));
  $experimental-support-for-svg: true;
  background-repeat: repeat-x;
  margin-bottom: 20px;
}

#frontpage-header {
  background-image:url(../images/watermark_frontpage.png);
  background-repeat:no-repeat;
  background-position-y: 5px;
  overflow: hidden;
  padding: 40px;

  .about {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .cta {
    margin-top:20px;
    .btn {
      @include background-image(linear-gradient(white, green));
      font-weight: bold;
    }
  }
}

/* Latest News */
.section-heading, .news-post {
  h1, h2 {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    color: #7b1e1e;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 120%;
    margin-bottom: 0px;
    a {
      text-decoration: none;
    }
  }
  h3 {
    font-size: 110%;
    margin-top: 0px;
    margin-bottom: 6px;
    color: #555555;
  }
  .news-footer {
    border-bottom: 1px dashed #bbbbbb;
    padding: .8ex;
    padding-right: 0px;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: right;
  }
  #even-more {
    display: block;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    a {
      text-decoration: none;
    }
  }
}
#vertnav-wrapper, .vertnav-wrapper {
  width: 230px;
  float: left;
  .sharethispadding {
    float:left;
    margin-top: 10px;
  }
  #main-vert-nav {
    margin: 100px 0px 0px 0px;
    padding: 0;
    border: 0;
    font-size: 160%;
  }
  ul li {
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    border-bottom: 1px solid #d5d5d5;
    text-transform: uppercase;
    width: 230px;
    a {
      color: #4a5d75;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cta a.btn {
  font-weight: bold;
  color: black;
  @include background-image(linear-gradient(white, green));
  &:hover, &:active {
    @include background-image(linear-gradient(green, green));
    color: white;
  }
}
/** End landing page */

/** Secondary pages */
.secondary-header-wrapper {
  @include background-image(linear-gradient(#afb1b3, #e6e7e8 45%));
  $experimental-support-for-svg: true;
  background-repeat: repeat-x;
  .secondary-header {
    background-image:url(../images/watermark_secondarypage.png);
    background-repeat:no-repeat;
    //height: 100px;
    padding-top: 15px;
  }
}

.sharethispadding-secondary {
  margin-top: 1em;
}
.sub-sub-nav {
  margin-top: .5em;
  margin-bottom: .5em;
  ul {
    list-style-image: none;
    list-style-type: none;
    white-space: nowrap;
    text-transform: uppercase;
    li {
      display: inline;
      a {
        color: #4a5d75;
        text-decoration: none;
        float: left;
        font-size: 110%;
        font-weight: bold;
        margin-right: 1em;
        &:hover {
          text-decoration: underline;
        }
        &:not(.last) {
          padding-right: 1em;
          border-right: #233345 thin solid;
        }
      }
    }
  }
}
@media(min-width: 320px) and (max-width: 940px) {
  ul#secondary-nav {
    li {
      display: block !important;
      a:hover {
        background: none !important;
      }
    }
  }
}
#secondary-nav-wrapper {
  position: relative;
  float: right;
  margin-right: 2em;
  .navbar {
    float: right;
    margin-bottom: -1px;
    > .navbar-inner {
      background: none;
      @include box-shadow(none);
    }
  }
  #secondary-nav {
    list-style-image: none;
    list-style-type: none;
    white-space: nowrap;
    text-transform: uppercase;
    li {
      display: inline;
      a {
        color: #4a5d75;
        text-decoration: none;
        float: left;
        font-size: 130%;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
        &.tab {
          padding: 1em;
          float: right;
        }
        &.active {
          background-color: white;
          @include border-top-radius(5px);
        }
      }
    }
  }
}

/** End Secondary Page **/

#toTop {
  position: fixed;
  top: -50px;
  right: 0px;
  background-color: $palette_60gray;
  @include border-radius(8px 0 0 8px);
  color: white;
  font-weight: bold;
  padding: 10px 12px;
  text-decoration: none;
}

.col, .row-col, .span0 {
  float: left;
}

#quickstart-toc_wrapper {
  position:relative;

  .dataTables_filter {
    text-align: right;
    position: absolute;
    right: 0px;
    top: -30px;
    label {
      float:left;
      input {
        display:inline;
      }
    }
  }

}


.quickstart-toc-table {
  ul {
    list-style: none;
    margin-left: 0px;
  }
  
  th {
    /* Needed for the sort icons */
    padding-right:17px;
  }

  /*
   * Sorting
   */
  .sorting { background: url('../images/sort_both.png') no-repeat center right; }
  .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
  .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

  .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
  .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }
}

// Guides

body.guide {
  #content-header {
    & > .container {
      position: relative;
    }
    .headline {
      @extend .page-header;
      border-bottom: none;
      padding-bottom: 0px;

      .alternate_formats {
        float: right;
        text-align: right;
        img {
          width: 30px;
          padding: 3px 7px;
        }
      }

    }
    h1 {
      font-size: 3em; // FIXME make a variable
      padding-left: 3px;
      small {
        font-family: $default_font_family;
        font-size: 15px;
        display: block;
        padding-top: 8px;
        margin-bottom: -18px;
        //font-weight: normal;
      }
    }
    h2 {
      display: inline-block;
      padding-left: 3px;
    }
    .metadata {
      font-size: 0.9em;
      margin-top: 1.25em;
      color: $guide_author_name_color;
      border: 1px dotted $light_border;
      @include border-radius(4px);
      padding-left: 10px;
      a:not(:hover) {
	color: inherit;
      }
    }
    // Styling for the guide button in the header (i.e. top of page)
    .directory {
      display: inline-block;
      float: right;
      @extend .gutter-right;
      .icon-menu-closed, .icon-menu-open {
        position: relative;
        top: -1px;
        margin-right: -2px;
      }
      .icon-menu-closed {
        @extend .icon-white;
        @extend .icon-chevron-right;
      }
      .icon-menu-open {
        @extend .icon-chevron-down;
      }
      a.menu_btn {
        @extend .btn;
        // FIXME btn-primary not giving us the color we want
        @extend .btn-success;
        @include border-radius(5px);
        padding: 9px 0;
        width: 200px;
        display: block;
        line-height: normal;
        font-family: $button_font_family;
        font-size: 2em;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        @include box-shadow(rgba(255,255,255,.35) 0 1px 0 0 inset, rgba(255,255,255,.15) 0 0 0 1px inset, rgba(0,0,0,.5) 1px 1px 4px -1px);
      }
      // the following section is for the modal menu dropdown styling
      // FIXME use fluid grid for contents
      .menu_content {
        text-align: left;
        @include border-radius(5px);
        //@include box-shadow;
        @include single-box-shadow($palette_black_80trans, 0, 1px, 10px);
        padding: 2em 2em 1.5em 2em;
        top: 24px;
        @extend .offset-gutter-right;
        margin-right: -2px;
        width: 640px;
        background-color: $guide_dropdown_color;
        position: absolute;
        z-index: 10;
        padding: 2em;
        dl {
          width: 320px;
          float: left;
          text-decoration: none;
          &:nth-of-type(3n) {
            clear: left;
          }
        }
        dd {
          padding-left: 9px;
          text-indent: -9px;
          line-height: 1.3em;
          margin-top: .3em;
          margin-bottom: .4em;
        }

        .downloads {
          .header {
            position: relative;
            .title {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
          
          a {
            display:inline;
            padding: 0px 6px 0px 0px;
          }

          dl {
            width: auto;
          }
          dt {
            float: left;
            clear: left;
            width: 80px;
            font-weight: bold;
            margin: 0em;
          }
          dt:after {
            content: ":";
          }
          dd {
            margin: 0 0 0 85px;
            padding: 0 0 0.5em 0;
            text-indent: 0px;
            line-height: 1.5em;
            width: 100%;
          }

          ul {
            display:inline;
            list-style: none;
            a:hover {
              text-decoration: underline;
              background: none;
              color: black;
            }
          }
        }
      }
    }
  }
  // styling for guide button when it has been pressed
  a.menu {
    text-decoration: none;
    font-family: $button_font_family;
    font-size: 2em;
    float: right;
    margin: -12px 2px 5px 0;
    color: $guide_button_text_active_color;
  }
  #guide {
    @extend .content-bumper;
    border: 1px solid $light_border;
    @include border-radius(5px);
    @include single-box-shadow(rgba(0,0,0,0.09), 0, 1px, 5px);

    #content {
      padding-top: 1em;
    }
  }
  #content {
    @include border-box;
    @include span(9, true);
    background-color: $guide_content_background_color;
    @include border-radius(6px 0 0 6px);
    padding: 0 $gridGutterWidth 1em $gridGutterWidth;
    border-right: 1px solid $light_border;
    margin-bottom: 0;
    h2.group {
      font-size: 2em;
      line-height: 1.3em;
    }
    h2.group, .header {
      padding: 10px $gridGutterWidth;
      margin: 0 (-$gridGutterWidth);
      border-bottom: 1px solid $light_border;
    }
    h2.group:first-child, .header {
      background: $palette_5gray url("../images/content_gradient.png") repeat-x;
      @include border-radius(6px 0 0 0);
    }
    .header {
      h2 {
        line-height: 1.3em;
        margin-bottom: 0.5em;
      }
      .authors {
        font-size: 0.9em;
        margin-bottom: 1.25em;
        color: $guide_author_name_color;
        border: 1px dotted $light_border;
        @include border-radius(4px);
        padding-left: 10px;
        a:not(:hover) {
          color: inherit;
        }
      }
      ul {
        padding-left: 0;
        margin-left: 15px;
        li {
          font-weight: bold;
          list-style: none;
          font-size: .95em;
          background: url("../images/bullet_check.gif") no-repeat 3px 2px;
          margin: .75em 0;
          padding-left: 30px;
        }
      }
    }
    // headings in guide content
    h3 {
      font-size: 1.9em;
      margin: .65em 0 .2em 0;
    }
    h4 {
      font-size: 1.6em;
      font-style: italic;
      margin-top: 0.75em;
    }
    p, ul, table {
      margin-bottom: 1em;
    }
    img {
      max-width: 100%;
    }
    dl dt {
      margin-top: 1em;
    }
    table {
       border: 1px solid $light_border;
       th {
         background-color: $palette_cerulean;
         color: $palette_white;
         white-space: nowrap;
       }
    }
  }
  #sidebar {
    @include border-box;
    padding: 1em $gridGutterWidth 0 $gridGutterWidth;
    @include span(3);
    h3 {
      font-family: $default_font_family;
      font-size: 1.1em;
      font-weight: normal;
      margin: 0 0 1em -5px;
      text-transform: uppercase;
      color: $toc_text_color;
      &.chapter_header {
        background: url("../images/chapters.png") no-repeat 0 10px;
        padding: 5px 0 0 22px;
      }
    }
    ol.chapters {
      list-style: decimal outside;
      color: $toc_text_color;
      padding: 0;
      margin-right: 0;
      margin-left: -3px;
      li {
        margin: 1.5em;
        margin-right: 0;
        a {
          color: $toc_link_color;
          text-decoration: none;
        }
      }
    }
    ul.legend {
      padding: 0;
      margin: 0 0 0 -5px;
      li {
        list-style-type: none;
        line-height: 1.5;
        padding-left: 55px;
        padding-top: 0;
        margin: 0 0 1.5em 0;
        display: block;
        min-height: 40px;
        background-repeat: no-repeat;
        &.edit {
          background-image: url("../images/edit.png");
        }
        &.command {
          background-image: url("../images/command.png");
        }
      }
    }
    .dl-horizontal > dt {
      margin: initial !important;
    }
    .dl-horizontal > dd {
      a {
        padding-left: initial;
        color: $palette_blue;
        &:hover {
          text-decoration: underline;
          background-color: none !important;
        }
      }
      ul {
        list-style: none;
        position: relative;
        top: -1em;
        li {
          a {
            &:hover {
              background: white !important;
            }
          }
        }
      }
    }
  }
}

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

// Contributors
// TODO: I think this would be better to put into a partial
ul.contributors {
  list-style: none;
  padding: 0;
  margin: .5em 0 2em 0;
  & > li {
    @include span(4);
    margin-bottom: 2em;
    display: block;
    @include clearfix;
    &:nth-of-type(3n+1) {
      @include first;
      clear: left;
    }
    line-height: 1.4;
    .photo {
      float: left;
      position: relative;
      margin-right: 10px;
      overflow: hidden;
      @extend .thumbnail;
      cursor: pointer;
      //&:hover {
      //  border-color: $link_color;
      //}
      img {
        display: block;
        @include square(140px);
      }
      ul {
        margin: 0 4px;
        font-size: 0.9em;
        padding: 0;
        position: absolute;
        height: 0px;
        width: 140px; // 100% doesn't work here
        left: 0;
        bottom: 3px;
        @include single-transition(height, .4s, ease-in-out);
        background-color: $palette_black_20trans;
        list-style: none;
        text-align: center;
        border-top: 1px solid $light_border;
        @include single-box-shadow($palette_white_50trans, 0, 1px, 0, 0, inset);
        overflow-y: hidden;
        li {
          font-size: 0.95em;
          display: inline;
          padding: 0 2px;
          a {
            color: $palette_white;
          }
          span {
            color: $palette_40gray;
          }
        }
      }
      &:hover ul {
        height: 24px;
      }
    }
    h3 {
      margin-bottom: .15em;
    }
    strong, em {
      display: block;
    }
  }
  & + p {
    clear: left;
    @extend .well;
    strong {
      display: block;
    }
  }
}

/** Buzz **/
.tweet {
  margin-bottom: 3em;
  padding: 2px;
  .loading {
    padding: 1.5em;
    margin: 0;
  }
  .tweet_intro {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
  }
  .tweet_outro {
    padding: 0.5em;
    margin: 0;
    text-align: center;
  }
  ul.tweet_list {
    list-style: none;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    .awesome, .epic {
      text-transform: uppercase;
    }
    .tweet_odd {
      background-color: $tweet_row_color;
      @include border-radius(4px);
    }
    .tweet_even {
    }
    .tweet_avatar {
      @include square(48px);
      margin-right: .5em;
      float: left;
      img {
        vertical-align: middle;
        @include border-radius(2px);
      }
    }
    li {
      padding: 0.5em;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

/** Events **/
.date {
  display: block;
  @include square(50px);
  font-size: 22px;
  line-height: 20px;
  font-weight: bold;
  @include single-text-shadow();
  text-align: center;
  @include border-radius(5px);
  @include single-box-shadow(rgba(0,0,0,0.09), 0, 1px, 3px);
  border: 1px solid $light_border;
  background-color: $palette_white;
  vertical-align: top;
  float: left;
  margin-right: 1em;
  abbr {
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 1px;
    @include geometry(50px, 13px);
    color: $palette_white;
    font-size: 12px;
    text-transform: uppercase;
    @include single-text-shadow();
    line-height: 13px;
    padding-top: 1px;
    border-bottom: 1px solid $light_border;
    @include border-radius(4px 4px 0 0);
    background-color: $palette_terra;
    @include background-image(linear-gradient($palette_light_terra, $palette_terra))
  }
  .year {
    display: block;
    color: black;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    top: -2px;
  }
}

/**  Roadmap */
.roadmap {
  h2 {
    border-bottom: $palette_50gray thin ridge; 
  } 
  .not-released {
    p, h1, h2, h3, h4, h5, h6, li, div {
      color: $palette_50gray;
    }
  }
  dt {
    margin: auto;
  }
  li {
    list-style: none;
  }
  .tagline {
    text-align: right;
    font-size: 17px;
  }
  .release_info {
    margin-top: 5em;
  }
}

/** Spotlight */

.spotlight {

  #slideshow {
    #slideshow-inner {
      height: 240px !important;
      min-height: 240px !important;
      div[data-weight] {
        margin: 0 75px !important;
      }
    }
  }

  .item {
    border: 1px solid $palette_10gray;
    height: 233px;
    width: 320px;
  }

  .content {
    margin: 2px;
    height: 100%;
  }
  

  .transparent-box {
    background-color: $palette_10gray;
    opacity: 0.88;
    filter:alpha(opacity=88); /* For IE8 and earlier */
    position: absolute; 
    margin-bottom: 15px; 
    margin-left: 10px; 
    margin-right:10px; 
    height:115px;
    -moz-opacity:0.88;
    border-radius: 4px;
    border: 1px #BBB solid;
    width: 295px;
  }

  .transparent-box-text {
    position: absolute;
    margin-left: 14px;
    margin-right: 14px;
    height: 105px;
    margin-bottom: 19px;
  }

  .fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }

}

// Get Started Examples

.example-get-started-toc {

  p {
    margin-bottom: 0px;
  }

  li {
    margin-bottom:10px;
  }

  .summary {
    margin-left:15px;
  }

}

// Ohloh widget
body div.gadget {
  float: right;
  // FIXME margin-left should be pulled from .gutter-left
  margin-left: 30px !important;
  margin-bottom: 2em;
  @include geometry(290px, 178px);
  h3 {
    font-size: 24px;
    margin-bottom: 0.25em;
  }
}

/** Common styles - could probably make this better with some sass functions, just C&P for now */
a {
  color:#336699;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

h1, h2, h3, h4, h5, h6, h7 {
  letter-spacing: -.06em;
  font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  display:block;
  font-weight: normal;
}
h1 {
  color:#CC0000;
  font-size:27px;
  margin:6px 0;
}
h2 {
  color:#424242;
  font-size:25px;
  margin:5px 0;
}
h3 {
  color:#88201B;
  font-size:23px;
  margin:4px 0;
}
h4 {
  color:#494949;
  font-size:21px;
  margin:3px 0;
}
h5 {
  color:#005E8F;
  font-size:17px;
  margin:2px 0
}
h6 {
  color:#545353;
  font-size:15px;
  margin:1px 0;
}

.popover {
  .popover-title {
    color: #7B1E1E;
    background:white;
  }
}

.examples {

  .splash {
    width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 1px solid $light_border;
    @include border-radius(3px);
    background: $palette_5gray url("../images/content_gradient.png") repeat-x;

    .title {
      text-align: center;
    }

    .content {
      width: 320px;
      height: 240px;
      margin: 1px;
    }

    img {
      display: block;
    }
  }

}
