---
layout: default
title: 'JBoss Stacks: Get Involved'
---
%script{ :src=>"http://www.ohloh.net/p/#{site.ohloh_id}/widgets/project_basic_stats.js" }

:markdown
  Found a bug on some of JBoss Stacks item ? Think there is a BOM/Archetype/Stack missing?
 
  Then you probably want to [report an issue](https://github.com/jboss-jdf/jdf-stack/issues).

  The information about the Stacks is readily accessible. The JBoss Stacks is mantained in a YAML file available at [JBoss Stacks repo](https://github.com/jboss-jdf/jdf-stack/blob/master/stacks.yaml). For better compreending the file format, JDF provides [this diagram](https://raw.github.com/jboss-jdf/jdf-stack/master/fileformat.png) that represents the lastest file format version.

  If you plan on contributing to the project, we encourage you to clone the one of the JBoss Stacs item repositories.
  If you just want to browse the sources or track the latest activity, you can do so by visiting on of the project repositories:

    - [JDF Forge Plugin](https://github.com/jboss-jdf/plugin-jdf)

    - [JBoss Stacks Repository](https://github.com/jboss-jdf/jdf-stack)

    - [JBoss Stacks Client API](https://github.com/jboss-jdf/jdf-stacks-client)

    - [JBoss BOMs](https://github.com/jboss-jdf/jboss-bom)

    - [JBoss Archetypes](https://github.com/jboss-jdf/jboss-as-archetype)


%p
  %a(href='http://github.com/jbossas/quickstart')
    %img(src="#{site.base_url}/images/octocat_social.png" style='vertical-align: middle;')
  %strong<
    Coding has become social!
    %a(href='https://github.com/jboss-jdf/jdf-stack') Fork us!

:markdown
  You'll probably want to [read the contributor guide](#{site.base_url}/about/contributing) as well!

