---
layout: getinvolved 
---
- page.title = 'Get Involved with JDF Site'
- page.guide = 'https://raw.github.com/jboss-jdf/jdf-site/master/CONTRIBUTING.md'

%br(style="clear: left;")

.expand-container.collapsed
  %a.expander{href => "#", "data-toggle" => "collapse", "data-target" => ".content"}
    %strong
      Don't forget to read the Contributing Guide
  .content.collapse
    ~ content
    %p
    :markdown
      ![Note](../../images/note.png)This Contributing Guide was generated from <#{page.guide}>
      - - -
      #{remotePartial("#{page.guide}")}

%br(style="clear: both;")

:javascript
  $('.expand-container').on('show',function() {
    $(this).addClass('expanded');
    $(this).removeClass('collapsed');
  });
  $('.expand-container').on('hide',function() {
    $(this).addClass('collapsed');
    $(this).removeClass('expanded');
  });