---
layout: news
---
- page.body_class = 'news'
- page.description = html_to_text(page.content).split("\n").first if !page.description
= partial('post.html.haml', {'parent'=>page, 'post'=>page, 'include_comments'=>true})
%ul.pager
  %li.previous{:class=>('disabled' unless page.previous_post)}
    %a{:href=>page.previous_post ? site.base_url + page.previous_post.url : '#'} &laquo; Previous
  %li.pages Post #{site.posts.size - site.posts.index(page)} of #{site.posts.size}
  %li.next{:class=>('disabled' unless page.next_post)}
    %a{:href=>page.next_post ? site.base_url + page.next_post.url : '#'} Next &raquo;
