---
layout: default
title: 'Migrations: Get Started'
---

:markdown
  JBoss Developer Framework provides guides for migrating to Java EE 6 from Seam 2, Spring and Java EE 5.

  * [Seam 2 -> Java EE 6](../seam2/open18_migration)
  * [Spring -> Java EE 6](spring)
  * [Java EE 5 -> Java EE 6](javaee5)
