---
layout: default
title: 'Migrating to Java EE 6'
---

:markdown
  JBoss Developer Framework provides guides for migrating to Java EE 6 from Seam 2, Spring and Java EE 5.

  * [Seam 2 -> Java EE 6](../seam2/open18_migration)
  * [Spring -> Java EE 6](spring)
  * [Java EE 5 -> Java EE 6](javaee5)
    * [JBoss AS 5 or JBoss AS 6 -> JBoss AS 7](https://docs.jboss.org/author/display/AS71/How+do+I+migrate+my+application+from+AS5+or+AS6+to+AS7)

  War Stories
  -----------

  We invite users of the JBoss stack to share their migration stories.

- site.war_stories.each do |post|
  = partial("short_post.html.haml", {"parent"=>page, "post"=>post, "include_comments_count"=>post.equal?(site.war_stories.last)})
.more
  %a(href="news") View all news &raquo;
