---
layout: default
title: 'Migrating Java EE 5 -> Java EE 6'
---

:markdown
  [Shane Johnson](http://twitter.com/#!/shane_dev) has written a multi-part article that covers migrating Java EE 5 applications to Java EE 6 technology.  Its sample code is a working project.  In the series Shane shows how you can make the most of new technologies such as Arquillian, CDI and JAX-RS.
  
  * [Part 1 - Adding CDI and JAX-RS ](http://howtojboss.com/2012/04/30/jboss-trading-java-ee-5-to-java-ee-6-migration-part-i-cdi-1-0-jax-rs-1-1/)
  * [Part 2 - Upgrading to JPA 2.0 &JAX-WS 2.2 ](http://howtojboss.com/2012/05/02/jboss-trading-java-ee-5-to-java-ee-6-migration-part-ii-jax-ws-2-2-jpa-2-0/)
  * [Part 3 - Structure and Testing](http://howtojboss.com/2012/05/04/jboss-trading-java-ee-5-to-java-ee-6-migration-part-iii-structure-packaging/)
  * [Part 4 - Deployment and Testing ](http://howtojboss.com/2012/05/08/jboss-trading-java-ee-5-to-java-ee-6-migration-part-iv-deployment-testing/)
  * [Part 5 - Clean up](http://howtojboss.com/2012/05/09/jboss-trading-java-ee-5-to-java-ee-6-migration-part-v-clean-up/)


  Sande Gilda has written a guide to migrating from JBoss AS 5 or JBoss AS 6 to JBoss AS 7. This guide focuses on running your application unchanged.

  * [Guide](https://docs.jboss.org/author/display/AS71/How+do+I+migrate+my+application+from+AS5+or+AS6+to+AS7)
  * [Examples](https://docs.jboss.org/author/display/AS71/Example+Applications+-+Migrated+to+AS7)
