---
layout: default
title: 'Migrating Spring -> Java EE 6'
---

:markdown
  [Bert Ertman](http://twitter.com/#!/bertertman) and [Paul Bakker](http://twitter.com/#!/pbakker) of [Luminis](http://www.luminis.eu/) have written a multi-part article that covers migrating Spring Applications to Java EE 6 technology.  Its sample code is a working project.  In the series Paul and Bert discuss the rationale for migrating your applications from Spring to Java EE 6 and show you real examples of upgrading the web UI, replacing the data access layer, migrating AOP to CDI interceptors, migrating JMX, how to deal with JDBC templates, and as an added bonus will demonstrate how to perform integration tests of your Java EE 6 application using [Arquillian](Arquillian).
  
  * [Part 1 - Introduction and Migration Motivations](http://howtojboss.com/2012/04/17/article-series-migrating-spring-applications-to-java-ee-6-part-1/)
  * [Part 2 - Migration Approach & Migrating the view layer](http://howtojboss.com/2012/04/17/article-series-migrating-spring-applications-to-java-ee-6-part-2/)
  * [Part 3 - Migrating the data layer](http://howtojboss.com/2012/05/10/article-series-migrating-from-spring-to-java-ee-6-part-3/)
